@import 'tailwindcss';

@theme {
  --font-sans: 'Comic Sans MS', 'Comic Sans', cursive;
  --font-serif: 'Comic Sans MS', 'Comic Sans', cursive;
  --font-mono: 'Comic Sans MS', 'Comic Sans', cursive;
}

html,
body,
* {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;
}